{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Welcome to the stock ticker tracker app by Yosuke</h2>

            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-left">
                  <form id='input' method='POST' action='/graph'>
                      <p>Ticker symbol: <input type='text' name='ticker' placeholder='GOOG' required/></p>
                      <p><font color="red"><em> {{ hidden }} </em></font></p>
                      <p><input type="submit" value="Submit"></p>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}

